* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: inherit;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

*:focus {
  outline: none;
}

html {
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "liga1" on;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

html,
p,
li,
blockquote,
pre {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media (min-width: 961px) {
  html,
  p,
  li,
  blockquote,
  pre {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, monospace;
}

h1 {
  line-height: 2.5rem;
  font-size: 2.8rem;
}

@media (min-width: 961px) {
  h1 {
    line-height: 3.5rem;
    font-size: 4.1rem;
  }
}

* + h1 {
  margin-top: 7rem;
}

h2 {
  line-height: 2rem;
  font-size: 2rem;
}

@media (min-width: 961px) {
  h2 {
    line-height: 3rem;
    font-size: 2.8rem;
  }
}

* + h2 {
  margin-top: 3rem;
}

h3 {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

@media (min-width: 961px) {
  h3 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}

* + h3 {
  margin-top: 2rem;
}

h4 {
  line-height: 1.5rem;
  font-size: 1rem;
}

@media (min-width: 961px) {
  h4 {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}

* + h4 {
  margin-top: 1rem;
}

h5 {
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.9rem;
}

@media (min-width: 961px) {
  h5 {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

* + h5 {
  margin-top: 1rem;
}

::selection {
  background-color: #F8D117;
}

html {
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button {
  cursor: pointer;
}

* + * {
  margin-top: 1rem;
}

body,
body > * {
  margin: 0;
}

body > main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 961px) {
  body > main {
    flex-direction: row;
  }
}

body > main > section {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4.5rem 1rem;
}

body > main > section > .title {
  margin-bottom: 2rem;
}

@media (min-width: 961px) {
  body > main > section {
    padding: 1.5rem;
    min-height: calc(100% - 4.5rem);
    width: 50%;
  }
}

.cw-button {
  padding: 1rem 2rem;
  background-color: #215297;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  transition: all 0.1s ease;
  border-bottom: 2px solid #1e4a88;
}

.cw-button:hover {
  background-color: #1e4a88;
}

.cw-button:active {
  opacity: 0.8;
}

@media (min-width: 961px) {
  .cw-button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}

.cw-header {
  height: 4.5rem;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

@media (min-width: 961px) {
  .cw-header {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

.cw-header * {
  margin: 0;
}

.cw-header > .logo {
  width: 3rem;
  height: 3rem;
  background-image: url("../assets/images/bb.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #215297;
}

.cw-header > .profile {
  display: flex;
  align-items: center;
}

.cw-header > .profile > .name {
  color: #215297;
}

.cw-header > .profile > .avatar {
  margin-left: 0.5rem;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  border: 1px solid #215297;
  background-image: url("../assets/images/user.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.coin-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin: 0;
}

@media (min-width: 961px) {
  .coin-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.coin-item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.03);
}

.coin-item > * {
  width: calc(100% / 3);
  margin: 0;
  line-height: 1rem;
  font-size: 0.9rem;
}

@media (min-width: 961px) {
  .coin-item > * {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

.coin-item > .name {
  text-align: left;
}

.coin-item > .change,
.coin-item > .price {
  text-align: right;
}

.coin-item > .change.-positive,
.coin-item > .price.-positive {
  color: #2b5;
}

.coin-item > .change.-negative,
.coin-item > .price.-negative {
  color: #c24;
}

.coin-item.-head > * {
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.coin-list {
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 32rem;
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #000;
}

.section-marketcap {
  overflow: hidden;
  background-color: #215297;
  color: #fff;
  text-align: center;
}

.section-marketcap > .title {
  color: #F8D117;
}

.section-purchase {
  overflow: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.section-purchase > .title {
  color: #215297;
}

.section-purchase > .select {
  -webkit-appearance: none;
  text-indent: 1rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.03);
  height: 3rem;
  width: 12rem;
}

.input-box {
  width: 12rem;
  position: relative;
  height: 4rem;
}

.input-box * {
  margin-top: 0;
}

.input-box > .field {
  width: 100%;
  height: 3rem;
  display: block;
  position: relative;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.03);
  line-height: 3rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 0 #215297;
  transition: none;
}

.input-box > .field:focus {
  background-color: #fff;
  border: 1px solid #215297;
  box-shadow: 0 0 0 6px transparent;
  transition: box-shadow 0.4s ease;
}

.input-box > .label {
  width: 100%;
  position: absolute;
  top: calc(50% - (1rem / 8));
  left: 0;
  font-size: 10px;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: #215297;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input-box > .field:focus ~ .label,
.input-box.-filled .label,
.input-box.-locked .label {
  -webkit-transform: translate3d(0, -2rem, 0);
  -moz-transform: translate3d(0, -2rem, 0);
  transform: translate3d(0, -2rem, 0);
}

.input-box.-error > .field {
  border: 1px solid #c24;
}

.input-box.-error > .label {
  color: #c24;
}

.input-box.-locked > .field {
  color: #215297;
  pointer-events: none;
}
