@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: inherit;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

*:focus {
  outline: none;
}

html {
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "liga1" on;
  font-family: "Roboto", Helvetica, sans-serif;
}

html,
p,
li,
blockquote,
pre {
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (min-width: 961px) {
  html,
  p,
  li,
  blockquote,
  pre {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Raleway", Helvetica, monospace;
}

h1 {
  line-height: 3.5rem;
  font-size: 2.8rem;
}

@media (min-width: 961px) {
  h1 {
    line-height: 5rem;
    font-size: 4.1rem;
  }
}

* + h1 {
  margin-top: 7rem;
}

h2 {
  line-height: 2.5rem;
  font-size: 2rem;
}

@media (min-width: 961px) {
  h2 {
    line-height: 3.5rem;
    font-size: 2.8rem;
  }
}

* + h2 {
  margin-top: 3rem;
}

h3 {
  line-height: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 961px) {
  h3 {
    line-height: 3rem;
    font-size: 2rem;
  }
}

* + h3 {
  margin-top: 2rem;
}

h4 {
  line-height: 2rem;
  font-size: 1rem;
}

@media (min-width: 961px) {
  h4 {
    line-height: 3rem;
    font-size: 1.5rem;
  }
}

* + h4 {
  margin-top: 1rem;
}

h5 {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

@media (min-width: 961px) {
  h5 {
    line-height: 2rem;
    font-size: 1rem;
  }
}

* + h5 {
  margin-top: 1rem;
}

::selection {
  background-color: #36c;
}

html {
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button {
  cursor: pointer;
}

* + * {
  margin-top: 1rem;
}

body,
body > * {
  margin: 0;
}

body > main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 961px) {
  body > main {
    flex-direction: row;
  }
}

body > main > section {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4.5rem 1rem;
}

@media (min-width: 961px) {
  body > main > section {
    padding: 1.5rem;
    min-height: 100%;
    width: 50%;
  }
}

.cw-button {
  padding: 1rem;
  background-color: #f2f2f2;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  transition: all 0.1s ease;
}

.cw-button:hover {
  transform: translateY(-2px);
  background-color: #fff;
}

.cw-button:active {
  transform: translateY(0);
  opacity: 0.8;
}

@media (min-width: 961px) {
  .cw-button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}

.coin-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 2rem;
  margin: 0;
}

.coin-item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

.coin-item > * {
  width: calc(100% / 3);
  margin: 0;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

@media (min-width: 961px) {
  .coin-item > * {
    line-height: 2rem;
    font-size: 1rem;
  }
}

.coin-item > .change,
.coin-item > .price {
  text-align: right;
}

.coin-item > .change.-positive,
.coin-item > .price.-positive {
  color: #3c6;
}

.coin-item > .change.-negative,
.coin-item > .price.-negative {
  color: #c36;
}

.coin-item.-head > * {
  line-height: 1.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.coin-list {
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 32rem;
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.section-marketcap {
  overflow: hidden;
  background-color: #f2f2f2;
  color: #1a1a1a;
  text-align: center;
}

.section-marketcap > .title {
  color: #cccccc;
}

.section-purchase {
  overflow: hidden;
  background-color: #0d0d0d;
  color: #d9d9d9;
  text-align: center;
}

.section-purchase > .title {
  color: #262626;
}
