.cw-button
  padding: $space-centi
  background-color: hsl(0, 0, 95%)
  color: #000
  border-radius: 4px
  box-shadow: 0 4px 12px rgba(#000, 0.2)
  font-weight: 700
  font-size: $font-size-mili
  text-transform: uppercase
  letter-spacing: 0.06em
  transition: all 0.1s ease
  &:hover
    transform: translateY(-2px)
    background-color: #fff
  &:active
    transform: translateY(0)
    opacity: 0.8
  +media-mediumup
    font-size: $font-size-centi
    padding: $space-centi $space-deci