=section-colors($color-background: hsl(0, 0, 95%), $color-text: hsl(0, 0, 10%), $color-title: hsl(0, 0, 80%))
  overflow: hidden
  background-color: $color-background
  color: $color-text
  text-align: center
  > .title
    color: $color-title
